#Home {
  background-image: url(images/Rectangle\ 24119\ 1.png);
}

span {
  color: #D3AD7F;
}

#map {
  width: 100%;
  height: 400px;
  background-image: url('images/Map.svg');
  background-size: 100vw;
  background-repeat: no-repeat;
  background-position: center;
}